.main-container-discussao {
    padding-top: 1rem !important;
    padding-bottom: 0.5rem !important;
}

.egresso-discussao {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    margin: 0 12% 0 12%;
}

.titulo-discussao-h1 {
    margin-bottom: 0 !important;
}

.egresso-discussao-frame {
    width: 75%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    border: 3px solid #66666635;
    border-radius: 15px;
    text-align: left;
    padding: 1rem 2rem;
    gap: 0.7rem;
    align-items: center;
    overflow: hidden;
}

.egresso-discussao-mensagens {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 1rem;
    flex: 1; /* Ocupa o espaço restante */
    overflow-y: auto; /* Habilita scroll vertical */
    padding-bottom: 0.5rem; /* Evita que mensagens toquem a borda */
}

.egresso-discussao-mensagem-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.egresso-discussao-mensagem-form > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.egresso-discussao-envio-mensagem {
    flex-direction: row !important;
    justify-content: center;
    align-items: flex-end !important;
    width: 100%;
}

.egresso-discussao-envio-mensagem-texto {
    height: 2.5rem;
    min-height: 2.5rem;
    max-height: 10rem;
    padding-top: 0.5rem;
    resize: none;
    overflow-y: auto;
    width: 100%;
    margin-left: 0;
}

.egresso-discussao-envio-mensagem-btn {
    border: 1px solid #c6c4c4;
    background-color: transparent;
    color: black;
    border-radius: 0.5rem;
    height: 2.5rem;
    transition: ease-in-out 0.1s !important;
    margin: 0.5rem 0
}

.egresso-discussao-envio-mensagem-btn:hover {
    background-color: #66666635;
    transform: scale(103%);
}