.lista-oportunidades {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.oportunidade-titulo {
    font-weight: bold;
    font-size: 20px;
    color: #333333;
    text-align: center;
    padding-bottom: 1rem;
}

.cards-oportunidades {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.oportunidade-autor {
    padding-bottom: 1rem;
}

.oportunidade-descricao {
    color: #333333;
    padding-bottom: 1rem;
}

.oportunidades-card-separator {
    position: relative;
    padding: 3rem;
}

.oportunidades-card-separator div{
    bottom: 35%;
}

