.egresso-perfil {
    display: flex;
    flex-direction: column;
    border: 3px solid #66666635;
    border-radius: 15px;
    padding-bottom: 1rem;
}

.egresso-foto {
    min-width: 10rem;
    min-height: 10rem;
    max-width: 10rem;
    max-height: 10rem;
    border-radius: 50%;
    background-color: #ccc;
    object-fit: cover;
    margin: 2rem;
}

.egresso-nome {
    margin-bottom: 1rem;
}

.egresso-descricao-perfil {
    display: -webkit-box;
    color: #333333;
    text-align: justify;
    padding: 1rem 3rem 0;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6; /* Número de linhas */
}

.egresso-cursos {
    margin-bottom: 2rem;
}

.egresso-biografia {
    padding-top: 1rem;
}

.button-with-icon {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    color: #333333;
    margin: 1.5rem 0;
}

.link {
    padding: 1rem;
    font-size: 2.8rem;
    cursor: pointer;
    color: #333333;
    transition: 0.5s;
}

.link:hover {
    filter: brightness(60%);
}

.egresso-cargos {
    align-items: center;
    place-items: center;
    padding: 1rem;
    width: 80%;
}

.cargos-titulo {
    font-size: 23px;
    color: #333333;
}