.cargo__container {
    width: 90%;
    display: flex;
    flex-direction: column;
    border: 3px solid #66666635;
    border-radius: 15px;
    text-align: left;
    padding: 1rem;
    gap: 0.7rem;
    margin-bottom: 1rem;
}

.cargo__title {
    font-weight: bold;
}

.cargo__descricao {
    color: #333333;
}