.egresso-gerenciar-depoimento-card-container {
    display: flex;
    align-items: flex-start;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.egresso-gerenciar-depoimento-card-texto {
    border: none;
    outline: none;
    font-size: 16px;
    flex: 1;
    padding: 1.25rem 1rem;
    min-height: 1rem;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: justify;
}

.deny-btn, .expand-btn {
    background: none;
    border-radius: 0;
    cursor: pointer;
    font-size: 18px;
    padding: 1rem;
    transition: none;
    border-left: 2px solid #ccc;
    height: 100%;
}

.deny-btn:hover, .expand-btn:hover {
    background-color: #66666635;
    transform: scale(105%);
}

.expand-btn {
    color: black;
    border-right: 2px solid #ccc;
}

.status-text {
    display: flex;
    justify-content: center;
    width: 17%;
    padding: 1.25rem 0;
}

.deny-btn {
    color: red;
}