.coordenador-cadastro-egresso {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    margin: 0 12% 0 12%;
}

.coordenador-cadastro-egresso-frame {
    width: 75%;
    display: flex;
    flex-direction: column;
    border: 3px solid #66666635;
    border-radius: 15px;
    text-align: left;
    padding: 2rem;
    gap: 0.7rem;
    align-items: center;
}

.coordenador-cadastro-egresso-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.coordenador-cadastro-egresso-form > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 2rem 0 0 0;
}

.ano-input-container {
    margin: 1rem 0 0 0 !important;
}

.coordenador-cadastro-egresso-label {
    display: block;
    color: #666;
    align-self: flex-start;
    margin-left: 4rem;
}

.cadastro-egresso-add-curso{
    flex-direction: row !important;
    text-decoration: none;
    white-space: nowrap;
    gap: 0.5rem;
    justify-content: flex-start;
    margin-left: 20% !important;
    cursor: pointer;
    margin-bottom: 2rem !important;
    margin-top: 1rem !important;
}

.add-icon-curso {
    font-size: 2rem;
    color: #333333;
}