@import url("../src/assets/styles/reset.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Poppins, serif;
}

body {
  background-color: #FDF8F5;
}

section {
  margin: 0 12% 2em;
  text-align: center;
  place-items: center;
  align-items: center
}

button {
  padding: 0.5rem 0.9rem;
  color: #FFFFFF;
  background-color: #E0B64E;
  border: none;
  text-decoration: none;
  font-size: medium;
  letter-spacing: 1px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.5s;
}

.botaoVerMais {
  margin-top: 2rem;
}

button:hover {
  background-color: rgb(193, 154, 65);
}

.line-text {
  position: relative; /* Necessário para o posicionamento do pseudo-elemento */
  display: inline-block; /* Para o tamanho da linha se ajustar ao conteúdo */
  background-color: #FDF8F5;
  padding: 1rem;
}

.line-text::after {
  content: ''; /* Cria o pseudo-elemento */
  position: absolute; /* Posiciona a linha atrás do texto */
  width: 50vw; /* A linha ocupará toda a largura do h1 */
  background-color: #66666635; /* Cor da linha */
  z-index: -1;
  height: 2px;
  margin-top: 1rem;
  left: calc(-25vw + 50%)
}

.separator-line {
  content: ''; /* Cria o pseudo-elemento */
  position: absolute; /* Posiciona a linha atrás do texto */
  width: 50vw; /* A linha ocupará toda a largura do h1 */
  background-color: #66666635; /* Cor da linha */
  height: 2px;
  left: calc(-25vw + 50%);
  margin: 1rem 0;
}

.main__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}

h1 {
  font-size: 2rem;
  color: #333333;
  margin-bottom: 2rem;
}

p {
  color: #333333;
}