.depoimentos-search-container {
    display: flex;
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 1rem;
    overflow: hidden;
    width: 80%;
    padding: 0.2rem 1rem;
    background-color: #fff;
}

.depoimentos-filter-container {
    display: flex;
    justify-content: flex-start;
    width: 74%;
}

.filters {
    display: flex;
    flex-direction: row;
}

.filters > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    min-width: 100%;
}

.depoimentos-filter-btn {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    background-color: transparent;
    color: #888;
    border: 2px solid #ccc;
    cursor: pointer;
    padding: 0.5rem;
    margin-right: 0.2rem;
    height: 2.5rem;
}

.depoimentos-filter-btn:hover {
    background-color: transparent;
    filter: brightness(60%);
}

.depoimentos-cards-egresso {
    width: 100%;
}