.coordenador-depoimento-card-container {
    display: flex;
    align-items: flex-start;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.coordenador-depoimento-card-nome {
    border: none;
    outline: none;
    font-size: 16px;
    flex: 1;
    padding: 1.25rem 1rem;
    text-align: justify;
}

.approve-btn, .deny-btn, .expand-btn {
    background: none;
    border-radius: 0;
    cursor: pointer;
    font-size: 18px;
    padding: 1rem;
    transition: none;
    border-left: 2px solid #ccc;
    height: 100%;
}

.approve-btn:hover, .deny-btn:hover, .expand-btn:hover {
    background-color: #66666635;
    transform: scale(105%);
}

.expand-btn {
    color: black;
}

.approve-btn {
    color: green;
    border-left: none !important;
}

.deny-btn {
    color: red;
}